img {
  width: 120px;
  height: 120px;
  opacity: .7;
}

li {
  list-style-type: none;
}

.descriptionFormat {
  width: 40%;
  border: 2px;
  border-style: solid;
}

.nameFormat {
  text-decoration: overline;
}

.moneyFormat {
  font-size: 20px;
}

.names {
  font-size: 18px;
  font-weight: 200;

}

.text {
  font-size: 17px;
}

.glyphicon {
  color: red;
}

.border {
  border: 2px;
  border-style: solid;
  width: 17%;
}

.jumbotron {
  font-family: "Rosewood Std", cursive;
  color: purple;
  background-image: url(http://www.iowacitycoralville.org/images/pages/N527/main-category-hero-general.jpg);
}

body {
background-color: black;
}

.fancyTitle {
  font-size: 24px;
  background-color: black;
  height: 85px;
  padding-bottom: 1px;
  width: 34%;
}
p, h1, h2, h3, li, ol, ul {
  color: white;
}

.red {
  color: red;
}
