<header class="jumbotron">
  <center> <h1> Greg's General Store </h1> </center>
  <hr>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'index'}} Go back to Inventory {{/link-to}}
</footer>
