<header class="jumbotron">
  <center> <h1 class="fancyTitle"> Greg's General Store </h1> </center>


<div class="cart">
  <center> <h2> Shopping Cart: </h2> </center>
  {{display-cart}}
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'index'}} Go back to Inventory {{/link-to}}
</footer>
