<center>  <ul>
    {{#each model.listings as |listing|}}
    <div class="col-md-4">
      {{listing-tile listing=listing deleteListing="deleteListing"}}
      <br> <br>
    </div>
    {{/each}}
  </ul>
 {{new-listing saveB="saveC"}} </center>


<p> Reviews: </p>
 <ul>
   {{#each model.reviews as |review|}}
     <li>{{review.text}} </li>
     <li> - {{review.author}} </li>
   {{/each}}
 </ul>
