<center>  <ul>
    {{#each model as |listing|}}
    <div class="col-md-6">
      {{listing-tile listing=listing deleteListing="deleteListing"}}
      <br> <br>
    </div>
    {{/each}}
  </ul>
 {{new-listing saveB="saveC"}} </center>
